.activity-container {
    width: 950px;
    height: fit-content;

    display: flex;
    flex-direction: column;

    margin: 35 auto;

    /*gap: 20px;*/
}

.summary-container {
    background-color: rgb(250, 250, 250);
    padding: 25px 25px 25px 25px;
    margin-bottom: 20px;
}

.top-container{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.activity-name {
    padding: 0px;
    font-size: x-large;
}

.map-container {
    width: 100%;
    height: 400px;
    /*background-color: rgb(250, 250, 250);
    padding: 10px;*/
}

.map {
    width: 100%;
    height: 100%;
}

.chart-container {
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    padding: 10px;

}
.chart {
    width: 100%;
    height: 100%;

}


p {
    font-size: small;
}

time {
    font-size: small;
}

label {
    font-size: small;
}

/*TOP PANEL*/
.panel-left {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.panel-left div {
    display: flex;
    flex-direction: column;
}

.user-name {
    padding: 0px;
    font-size: x-large;
    border-bottom: 1px black solid;
}

.activity-name {
    padding: 0px;
    font-size: x-large;
}

/* right PANEL */

.panel-right {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.stat-ul {
    display: flex;
    flex-direction: row;
}

.stat-ul li {
    margin-right: 32px;
}

.stat-ul li div {
    font-size: x-large;
}

.more-stat-ul li div {
    font-size: large;
}

.type-icon {
    height: 24px;
    width: 24px;
    margin-top: 7px;
}

.icon-container {
    
    margin-right: 24px;
    display: flex;
    justify-content: center;
}
.profile-icon {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
}

/*image panel*/

.image-panel {
    margin-top: 25px;
}