main{
    display: grid;
    grid-template-columns: 300px 616px 300px;
    gap: 0 25px;
    justify-content: center;
}

.feat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-container {
    margin-bottom: 50px;
    width: 616px;
    height: fit-content;
    padding-left: 25px;
    padding-right: 25px;
}

.activity-name {
    padding: 0px;
    font-size: x-large;
}
.user-name {
    padding: 0px;
}

p {
    font-size: small;
}
time {
    font-size: small;
}

/*TOP PANEL*/
.top-panel {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.top-panel div {
    display: flex;
    flex-direction: column;
}

/* MIDDEL PANEL */
.stat-ul {
    display: flex;
    flex-direction: row;
}
.stat-ul li {
    margin-right: 32px;
}
.stat-ul li div{
    font-size: larger;
}

.middle-panel {
    display: flex;
    flex-direction: row;
}

.middle-panel {
    display: flex;
    flex-direction: row;
}

.icon-container {
    width: 40px;
    margin-right: 24px;
    display: flex;
    justify-content: center;
}

.type-icon {
    height: 24px;
    width: 24px;
    margin-top: 7px;
}
.profile-icon {
    border-radius: 50%;
    object-fit: cover;
}

/*image panel*/

.image-panel {
    margin-top: 25px;
}