main{
    display: grid;
    gap: 0 25px;
    justify-content: center;
    margin-top: 35px;
    grid-template-columns: 250px 600px 250px;
}

.feat {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 10px;
}

.activity-container {
    width: 100%;
    height: fit-content;

    padding: 25px 25px 25px 25px;
    background-color: rgb(255, 255, 255);
}

.activity-name {
    padding: 0px;
    font-size: x-large;
}
.user-name {
    padding: 0px;
}

p {
    font-size: 11;
}
time {
    font-size: 10;
}

/*TOP PANEL*/
.top-panel {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.top-panel div {
    display: flex;
    flex-direction: column;
}

/* MIDDEL PANEL */
.stat-ul {
    display: flex;
    flex-direction: row;
}
.stat-ul li {
    margin-right: 32px;
}
.stat-ul li div{
    font-size: larger;
}

.middle-panel {
    display: flex;
    flex-direction: row;
}

.middle-panel {
    display: flex;
    flex-direction: row;
}

.icon-container {
    width: 40px;
    margin-right: 24px;
    display: flex;
    justify-content: center;
}

.type-icon {
    height: 24px;
    width: 24px;
    margin-top: 7px;
}
.profile-icon {
    border-radius: 50%;
    object-fit: cover;
}

/*image panel*/

.image-panel {
    margin-top: 25px;
    height: fit-content;
}
.map-image {
    height: fit-content;
}

@media (max-width: 1050px) {
    main {
        grid-template-columns: 250px 500px;
    }
}

@media (max-width: 750px) {
    main {
        grid-template-columns: 500px;
    }
}