main{
    display: grid;
    gap: 0 25px;
    justify-content: center;
    margin-top: 35px;
    grid-template-columns: 250px 600px 250px;
}

.feat {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 10px;
}

.activity-container {
    width: 100%;
    height: fit-content;

    padding: 25px 25px 25px 25px;
    background-color: rgb(255, 255, 255);
}

.activity-name {
    padding: 0px;
    font-size: x-large;
}
.user-name {
    padding: 0px;
}

p {
    font-size: 11;
}
time {
    font-size: 10;
}

/*TOP PANEL*/
.top-panel {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.top-panel div {
    display: flex;
    flex-direction: column;
}

/* MIDDEL PANEL */
.stat-ul {
    display: flex;
    flex-direction: row;
}
.stat-ul li {
    margin-right: 32px;
}
.stat-ul li div{
    font-size: larger;
}
.unit {
    font-size: small;
    vertical-align: text-bottom;
}

.middle-panel {
    display: flex;
    flex-direction: row;
}

.middle-panel {
    display: flex;
    flex-direction: row;
}

.icon-container {
    width: 40px;
    margin-right: 24px;
    display: flex;
    justify-content: center;
}

.type-icon {
    height: 24px;
    width: 24px;
    margin-top: 7px;
}
.profile-icon {
    border-radius: 50%;
    object-fit: cover;
}

/*image panel*/

.image-panel {
    margin-top: 25px;
    height: fit-content;
}
.map-image {
    height: fit-content;
}

/**/
.activity-footer {
    width: 100%;
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kudos {
    justify-self: end;
}
.kudos button{
    background-color: rgb(233, 233, 233);
    padding: 9px 14px;
    
    justify-items: center;
    border-radius: 5px;
}
.kudos button:hover {
    background-color: rgb(245, 245, 245);
    transition: 150ms;
}
.kudos button img{
    height: 14px;
}

.kudos-display {
    align-content: center;
}
.kudos-display button {
    font-size: 11px;
    font-weight: 500;
    color:rgb(70, 70, 70);
    
}


@media (max-width: 1050px) {
    main {
        grid-template-columns: 250px 500px;
    }
}

@media (max-width: 750px) {
    main {
        grid-template-columns: 500px;
    }
}