form {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

input[type="file"]::-webkit-file-upload-button {
    border: 1px solid #000000;
    padding: 0px 4px 0px 4px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 10px 0px 40px;
}

h1 {
    font-size: xx-large;
    margin-bottom: 15px;
}

button {
    border: #000000 solid 1px;
    width: fit-content;
    padding: 1px 10px;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    width: fit-content;

    margin-top: 35px;
    padding: 25px;

    margin-left: 16%;

    background-color: rgb(250, 250, 250);
}