nav {
    background-color: rgb(250, 250, 250);
    
    display: flex;
    flex-direction: row;
    height: 55px;
    align-items: center;
    justify-content: space-between;
    padding-left: 17%;
    padding-right: 17%;
}

nav a {
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    color: black;
}

nav .left {
    display: flex;
    align-items: center;
}

nav .right {
    display: flex;
    align-items: center;
    margin-left: auto;
}