.left-side {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: fit-content;
    
    justify-items: center;
    gap: 20px;
    
    background-color: rgb(255, 255, 255);

    padding: 15px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;

    margin: 0 auto;
}

.profile-info h1 {
    text-align: center;
    font-size: large;
    font-weight: 500;
}

.profile-info ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0 auto;
    
}

.profile-info ul li{
    width: 55px;
    justify-items: center;
}

.week-summary {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.latest-activity span {
    font-size: 13;
    font-weight: 500;
}

.activity-streak {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.streakFlame-container {
    position: relative;
    display: inline-block;
    width: 28px;
    align-self: center;
}

.streakFlame-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 11;
}

.streak-day-list {
    display: flex;
    flex-direction: row;
    column-gap: 3px;
    margin-left: 8px;
    width: 100%;
    
}

.streak-day{
    width: 24px;
    gap: 3px;

    display: flex;
    flex-direction: column;
}

.streak-day p {
    text-align: center;
    font-size: x-small;
    font-weight: 500;
}
.streak-day .streak-day-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgba(255, 96, 38, 0.727);
    cursor: pointer;
}
.streak-day .streak-day-icon:hover{
    background-color: rgba(255, 96, 38, 0.971);    
    transition: 250ms;
}
.streak-day .streak-day-text {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: x-small;
    border-radius: 100%;
    background-color: rgba(237, 237, 237, 0.731);
}

.streak-day img {
    width: 12px;
    height: 12px;

}

@media (max-width: 950px) {
    .left-side {
        display: none;
    }
}