.left-side {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-items: center;
    gap: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px    
}

.profile-info h1 {
    text-align: center;
    font-size: xx-large;
}

.profile-info ul {
    display: flex;
    flex-direction: row;
    gap: 20px
    
}

.profile-info ul li{
    width: 55px;
    justify-items: center;
}


.week-summary {
    display: flex;
    flex-direction: column;
    gap: 15px;
}