h1 {
    font-size: x-large;
}

.container {
    
    width: fit-content;
    margin: 35 auto;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
}

.profile-top{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-icon {
    width: 125px;
    border-radius: 100%;
}

.profile-bottom {
    display: grid;
    grid-template-columns: auto 250px;
}