.left-side {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: fit-content;
    
    justify-items: center;
    gap: 20px;
    
    background-color: rgb(250, 250, 250);

    padding: 15px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;

    margin: 0 auto;
}

.profile-info h1 {
    text-align: center;
    font-size: x-large;
}

.profile-info ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0 auto;
    
}

.profile-info ul li{
    width: 55px;
    justify-items: center;
}


.week-summary {
    display: flex;
    flex-direction: column;
    gap: 15px;
}